*{margin:0px;padding:0px;}

body{background:#BEBEBE;text-align:center;}

#tai,#lao{width:1055px;margin-left:auto;margin-right:auto;font-size:14px;font-weight:700;}

#big{border:solid 5px #ffffff;position:absolute;width:900px;height:506px;left:50%;top:50%;margin-left:-450px;margin-top:-253px;display:none;background:#ffffff;position:fixed;}

#close{width:40px;height:35px;position:absolute;right:0px;top:0px;background:#ffffff;}

header{background:#2B1B16;height:37px;padding-top:38px;}

#name{float:left;margin-left:64px;margin-top:-22px;height:50px;color:#ffffff;font-size:30px;text-align:center;}

span{font-size:16px;margin-left:15px;}

nav{margin-left:auto;margin-right:auto;color:#ffffff;font-size:14px;width:595px;height:30px;}

#menu{background:#E8E9E6;font-size:14px;height:45px;}

ul a{color:#ffffff;}

#clear{border:0px;clear:both;}

ul{float:left;list-style-type:none;}

ul li{float:left;margin-left:20px;}

#fan{margin-left:40px;}

#div1,#div2,#div3{width:1364px;height:800px;margin-left:auto;margin-right:auto;display:none;}

video{margin-top:25px;margin-bottom:30px;}

footer{background:#2B1B16;height:44px;color:#ffffff;line-height:44px;}

#span1 a{text-decoration:none;color:#ffffff;}

#span2{margin-left:60px;}

#divUs{width:800px;height:735px;margin-top:60px;margin-left:auto;margin-right:auto;text-align:left;font-size:18px;color:black;line-Height:35px;}






