{% extends "zhongBase.html" %}

{% block content %}
   <div id="div1"><img src="{{MEDIA_URL}}image/zhong/a.jpg"/></div>
   <div id="div2"><img src="{{MEDIA_URL}}image/zhong/b.jpg"/></div>
   <div id="div3"><img src="{{MEDIA_URL}}image/zhong/c.jpg"/></div>
   <script>
          $(function(){
           var w=$(window).width(),h=$(window).height()-119;
           $('#div1,#div2,#div3').css('width',w);
           $('#div1,#div2,#div3').css('height',h);
           $('img').css('width',w);
           $('img').css('height',h);
           })
   </script>

{% endblock %}

