<!DOCTYPE html>
<html>
     <head>
          <title>辽宁省鞍山市台安重型汽贸</title>
          <meta charset="utf-8"/>
          <meta name="Keywords" content="辽宁省鞍山市台安重型汽贸"/>
          <meta name="Description" content="辽宁省鞍山市台安重型汽贸"/>
          <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
          <script src="{{ site.url }}/js/zhong.js"></script>
          <link rel="stylesheet" href="{{ site.url }}/css/zhong.css"/>
     </head>
     <body>
          <header>
                 <div id="name">台安重型汽贸</div>
                 <nav>
                     <ul>
                        <li>
                          <a href="{{ site.url }}/shou">网站首页</a>
                        </li>
                        <li>
                          <a href="{{ site.url }}/shan">陕汽系列</a>
                        </li>
                        <li>
                          <a href="{{ site.url }}/ou">欧曼系列</a>
                        </li>
                        <li>
                          <a href="{{ site.url }}/jie">解放系列</a>
                        </li>
                        <li>
                          <a href="{{ site.url }}/other">其它系列</a>
                        </li>
                        <li>
                          <a href="{{ site.url }}/news">活动新闻</a>
                        </li>                 
                     </ul>
                 </nav>
          </header>
          <section>
            {{ content }}
            <div id="clear"></div>
          </section>
          <footer>
            <span id="span1">地址：台安工业园区胜利西路134号</span>
            <span id="span2">电话：4822224</span>
          </footer>
     </body>
</html>
